@charset "UTF-8";

:root {
    --verde: #71BE44;
    --roxo: #402B67;
    --branco: #fff;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body{
    background-color: var(--roxo);
    background-image: url("../images/desenhos-fundo.png");
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    padding: 1rem;
    background-color: var(--roxo);
    border-radius: 0 5rem 5rem 0;
    box-shadow: 1px 1px 10px var(--verde);
    margin-bottom: 20px; /*  ajusta o espaço entre header e main */

}

header a {
    color: var(--branco);
    text-decoration: none;
    transition: 0.3s;
}

header a:hover {
    opacity: 0.7;
}

nav {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 10px;
    font-size: 14px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
 }

 .nav-list {
    margin: 50px;
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: row; /* Alteração para exibir os itens horizontalmente */
    align-items: center; /* Alinha os itens no centro verticalmente */
 }

 .nav-list li {
    margin: 10px;
    padding: 15px;
    letter-spacing: 3px;
    margin-bottom: 10px;
 }

header .logo-header{
    margin-left: 2rem;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3vh;
}

header nav .contato-header{
    margin: 5rem;
    color: var(--branco);
    text-decoration: none;
}

header nav .youtube-header{
    width: 100%;
    margin-right: 2rem;

}

main{
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

h2{
    font-weight: normal;
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

main div.space-images{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

main section.verde{
    width: 100vw;
    background-color: var(--verde);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--roxo);
    font-size: 10px;
    color: var(--verde);
    box-shadow: 1px 1px 10px black;
}

footer h3 {
    text-shadow: 1px 1px 1px var(--branco), 0.9 ; 
}

footer .endereco a {
    color: var(--branco);
}

footer nav.baixo {
    height: 10px;
}

footer nav .contato-header{
    margin: 5rem;
    color: var(--branco);
    text-decoration: none;
}

footer nav .youtube-header{
    width: 100%;
    margin-right: 2rem;
}